.container {
    border : 1px solid black;
    padding : 5% 0;
}

.sign-up{
    text-align: end;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.sign-up > div {
    font-size : 12px;
    color : red;
}

.sign-up > button {
    margin : 0 2% !important;
    border : transparent;
    border-radius : 8%;
    padding : 1%;
}