.App {
  text-align: center;
  margin : 25px 35px 35px 35px;
}

button{
    background-color :#1291ff !important;
    margin : 1rem 0 !important;
}

button:hover{
  background-color : #7dc0fb !important;
}

.logout{
  border: transparent;
  border-radius: 9%;
  padding: 7px;
  position : absolute;
  top : 0;
  right : 10px;
}

.logout:hover{
  cursor: pointer ;
}

.box{
  display: flex;
  justify-content: space-around;
}

@media(max-width: 600px){
  .App{
    margin : 5px 15px 15px 15px;
  }  
}
@media(max-width: 950px){
.box{
    flex-direction : column;
  }
}